 /* external css  */
 body {
    background-color: #f0f0f0; /* Fallback color */
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

 h4{
    color:rgb(236, 15, 126);
 }

 h2 {
    color: darkslategrey;
 }

 /* using directly target Element */

 /* body{
    background-color: wheat;
 } */

h1{
    color: red;
    text-align: center;
}

/* by targeting class */
.square{
    width: 500px;
    height: 50px;
    background-color: rgb(182, 182, 236);
    margin: auto;
}

/* using id by targeting them */
#circle{
    color: rgb(143, 94, 143);
    font-size: 50px;
}

.container{
    background-color: rgb(166, 167, 115);
    font-size: large;
}

.borderImg{
    border: 5px  dashed red;
}

ul li {
    color: white;
    font-size: 20px;
}

ul > li {
    color: orange;
}

/* grouping the element 
its like target the element you have together*/

h1,h2,h3 {
    text-decoration-color: aliceblue;
    font-weight: 500;
    font-style: oblique;
    
}












/* 
 read me

To style different elements in our html page - there are three methods

 1. Directly Target Element 
 2. Grab it by the class
 3. Third WE can add id to it.... */ 



