/* **************************** Defaults ****************************** */

nav,
header,
footer {
    display: block;
}

body {
    line-height: 1;
    margin: 0;
}

/* **************************** Nav Bar ****************************** */
nav {
    width: 100%; /* Change the width to take up the full available space */
    background-color: gray; /* Add a background color to the nav bar */
}

nav ul {
    list-style: none; /* Remove the default list bullet points */
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li {
    display: inline-block; /* Use inline-block to display the list items horizontally */
}

ul.topnav li.topnav-right {
    float: right;
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 10px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #666066;
}

/* Add some styles to make the navigation links look better */
ul.topnav li a:hover {
    background-color: #ddd;
    color: #000;
}

ul.topnav li.topnav-right a {
    border: 1px solid #666066;
    border-radius: 4px;
}

